settings.json
env_qualificador_web/
*.pyc
__pycache__/
db.sqlite3
.venv/
/.vs
cabecalho.txt
original.txt
rodape.txt
str_cabecalho.txt
str_rodape.txt
participantes.json
configs.json
/pacotes.txt
.env
configs.json