{% extends 'extrator/base.html' %}

{% block content %}
<h2 class="title-shadow">Participantes Criados</h2>
<div class="action-bar">
    <button class="action-button btn-common" id="upload-file-button">Carregar arquivo</button>
    <button class="action-button btn-common" id="add-person">Acrescentar Pessoa</button>
    {% comment %} <button class="action-button btn-common" id="qualify-all">Qualificar Todos</button> {% endcomment %}
</div>

<div class="container" id="pessoa-container">
    {% if dados_gerais.no_op %}
    <div class="dados_gerais_card" id="dados-gerais-{{ dados_gerais.no_op }}">
        <form method="post" action="{% url 'alterar_dados_gerais' dados_gerais.no_op %}">
            {% csrf_token %}
            <input type="hidden" name="no_op" value="{{ dados_gerais.no_op }}">
            <table class="table">
                <tr>
                    <th>Órgão</th>
                    <td><input type="text" name="no_orgao_op" class="input-field" value="{{ dados_gerais.no_orgao_op }}"></td>
                    <td colspan="2"><input type="text" name="orgao_op" class="input-field" value="{{ dados_gerais.orgao_op }}"></td>
                    <th>Ano</th>
                    <td><input type="text" name="ano_op" class="input-field" value="{{ dados_gerais.ano_op }}"></td>
                    <th>Ocorrência</th>
                    <td><input type="text" name="no_op" class="input-field" value="{{ dados_gerais.no_op }}"></td>
                </tr>
                <tr>
                    <th>Data do Fato</th>
                    <td><input type="date" name="data_fato" class="input-field date-input" value="{{ dados_gerais.data_fato }}"></td>
                    <th>Hora do Fato</th>
                    <td><input type="time" name="hora_fato" class="input-field time-input" value="{{ dados_gerais.hora_fato }}"></td>

                    <th>Data de Registro</th>
                    <td><input type="date" name="data_registro" class="input-field date-input" value="{{ dados_gerais.data_registro }}"></td>
                    <th>Hora de Registro</th>
                    <td><input type="time" name="hora_registro" class="input-field time-input" value="{{ dados_gerais.hora_registro }}"></td>
                </tr>
                <tr>
                    <th>Descrição do Fato</th>
                    <td colspan="4"><input type="text" name="fato" class="input-field" value="{{ dados_gerais.fato }}"></td>
                    <th>Consumação</th>
                    <td colspan="2">
                        <select name="consumacao" class="form-select">
                            <option value="Cons" {% if dados_gerais.consumacao == 'Cons' %}selected{% endif %}>Consumado</option>
                            <option value="Tent" {% if dados_gerais.consumacao == 'Tent' %}selected{% endif %}>Tentado</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Endereço do Fato</th>
                    <td colspan="7"><input type="text" name="endereco_fato" class="input-field" value="{{ dados_gerais.endereco_fato }}"></td>
                </tr>
                <tr>
                    <th>Histórico</th>
                    <td colspan="7"><textarea name="historico" class="textarea-field">{{ dados_gerais.historico }}</textarea></td>
                </tr>
            </table>
        </form>
       {% comment %} <button class="btn-common save-dados-gerais-button" data-no-op="{{ dados_gerais.no_op }}">Salvar Dados Gerais</button> {% endcomment %}
    </div>
    {% endif %}
    {% for pessoa in pessoas %}
    {% if pessoa.id is not None %}
        <div class="person-card" id="person-{{ pessoa.id }}">
            <form method="post" action="{% url 'alterar_pessoa' pessoa.id %}">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ pessoa.id }}">
                <table class="table">
                    <tr>
                        <th>Condição</th>
                        <td>
                            <select name="condicao" class="form-select" data-person-id="{{ pessoa.id }}">
                                <option value="Agente" {% if pessoa.condicao == 'Agente' %}selected{% endif %}>Agente</option>
                                <option value="Vítima" {% if pessoa.condicao == 'Vítima' %}selected{% endif %}>Vítima</option>
                                <option value="Testemunha" {% if pessoa.condicao == 'Testemunha' %}selected{% endif %}>Testemunha</option>
                            </select>
                        </td>
                        <th>Alcunha</th>
                        <td><input type="text" name="alcunha" class="input-field" value="{{ pessoa.alcunha }}" data-person-id="{{ pessoa.id }}"></td>
                    </tr>
                    <tr>
                        <th>Nome</th>
                        <td colspan="5"><input type="text" name="nome" class="input-field" value="{{ pessoa.nome }}" data-person-id="{{ pessoa.id }}"></td>
                    </tr>
                    <tr>
                        <th>Pai</th>
                        <td><input type="text" name="nome_pai" class="input-field" value="{{ pessoa.nome_pai }}" data-person-id="{{ pessoa.id }}"></td>
                        <th>Mãe</th>
                        <td colspan="3"><input type="text" name="nome_mae" class="input-field" value="{{ pessoa.nome_mae }}" data-person-id="{{ pessoa.id }}"></td>
                    </tr>
                    <tr>
                        <th>Nascimento</th>
                        <td>
                            <input type="date" name="data_nascimento" class="input-field date-input" value="{{ pessoa.data_nascimento }}">
                        </td>
                        <th>Sexo</th>
                        <td colspan="3">
                            <select name="sexo" class="form-select" data-person-id="{{ pessoa.id }}">
                                <option value="Masculino" {% if pessoa.sexo == 'Masculino' %}selected{% endif %}>Masculino</option>
                                <option value="Feminino" {% if pessoa.sexo == 'Feminino' %}selected{% endif %}>Feminino</option>
                                <option value="Outro" {% if pessoa.sexo == 'Outro' %}selected{% endif %}>Outro</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>CPF</th>
                        <td><input type="text" name="cpf" class="input-field" value="{{ pessoa.cpf }}" data-person-id="{{ pessoa.id }}"></td>
                        <th>Cor Pele</th>
                        <td colspan="3"><input type="text" name="cor_pele" class="input-field" value="{{ pessoa.cor_pele }}" data-person-id="{{ pessoa.id }}"></td>
                    </tr>
                    <tr>
                        <th>Estado Civil</th>
                        <td><input type="text" name="estado_civil" class="input-field" value="{{ pessoa.estado_civil }}" data-person-id="{{ pessoa.id }}"></td>
                        <th>Instrução</th>
                        <td colspan="3">
                            <select name="grau_instrucao" class="form-select" data-person-id="{{ pessoa.id }}">
                                <option value="Ensino fundamental incompleto" {% if pessoa.grau_instrucao == 'Ensino fundamental incompleto' %}selected{% endif %}>Ensino fundamental incompleto</option>
                                <option value="Ensino fundamental" {% if pessoa.grau_instrucao == 'Ensino fundamental' or pessoa.grau_instrucao == 'Ensino fundamental completo'%}selected{% endif %}>Ensino fundamental</option>
                                <option value="Ensino médio incompleto" {% if pessoa.grau_instrucao == 'Ensino médio incompleto' %}selected{% endif %}>Ensino médio incompleto</option>
                                <option value="Ensino médio" {% if pessoa.grau_instrucao == 'Ensino médio' or pessoa.grau_instrucao == 'Ensino médio completo' %}selected{% endif %}>Ensino médio</option>
                                <option value="Ensino superior incompleto" {% if pessoa.grau_instrucao == 'Ensino superior incompleto' %}selected{% endif %}>Ensino superior incompleto</option>
                                <option value="Ensino superior" {% if pessoa.grau_instrucao == 'Ensino superior' or pessoa.grau_instrucao == 'Ensino superior completo' %}selected{% endif %}>Ensino superior</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Naturalidade</th>
                        <td>
                            <input type="text" name="naturalidade" class="input-field naturalidade-input" value="{{ pessoa.naturalidade }}" data-person-id="{{ pessoa.id }}"> /
                            <input type="text" name="naturalidade_uf" class="input-field uf-input" value="{{ pessoa.naturalidade_uf }}" data-person-id="{{ pessoa.id }}">
                        </td>
                        <th>Nacionalidade</th>
                        <td colspan="3"><input type="text" name="nacionalidade" class="input-field" value="{{ pessoa.nacionalidade }}" data-person-id="{{ pessoa.id }}"></td>
                    </tr>
                    <tr>
                        <th>Tipo Doc.</th>
                        <td><input type="text" name="documento" class="input-field" value="{{ pessoa.documento }}" data-person-id="{{ pessoa.id }}"></td>
                        <th>Nº Doc.</th>
                        <td colspan="3"><input type="text" name="numero_documento" class="input-field" value="{{ pessoa.numero_documento }}" data-person-id="{{ pessoa.id }}"></td>
                    </tr>
                    <tr>
                        <th>Endereço</th>
                        <td colspan="5"><input type="text" name="endereco" class="input-field" value="{{ pessoa.endereco }}" data-person-id="{{ pessoa.id }}"></td>
                    </tr>
                    <tr>
                        <th>End. Prof.</th>
                        <td colspan="5"><input type="text" name="end_profissional" class="input-field" value="{{ pessoa.end_profissional }}" data-person-id="{{ pessoa.id }}"></td>
                    </tr>
                    <tr>
                        <th>Profissão</th>
                        <td><input type="text" name="profissao" class="input-field" value="{{ pessoa.profissao }}" data-person-id="{{ pessoa.id }}"></td>
                        <th>Representa</th>
                        <td><input type="checkbox" name="representa" class="checkbox-field" {% if pessoa.representa %}checked{% endif %} data-person-id="{{ pessoa.id }}"></td>
                        <th>Requer MPU</th>
                        <td><input type="checkbox" name="requer_mpu" class="checkbox-field" {% if pessoa.requer_mpu %}checked{% endif %} data-person-id="{{ pessoa.id }}"></td>
                    </tr>
                </table>
            </form>
            <div class="qualificacao" id="qualificacao-{{ pessoa.id }}">
                {{ pessoa.qualificacao }}
            </div>
            <button class="btn-common remove-person-button" data-person-id="{{ pessoa.id }}">Remover Pessoa</button>
            <button class="btn-common search-cep-button" data-person-id="{{ pessoa.id }}">Pesquisar CEP</button>
        </div>
    {% endif %}
    {% endfor %}
</div>
<!-- Formulário Popup para upload de arquivo -->
<div id="upload-popup" class="popup">
    <div class="popup-content">
        <span class="close" id="close-upload-popup">&times;</span>
        <h2>Carregar a ocorrência</h2>
        <form id="upload-form" method="post" action="{% url 'upload_file' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="flex-div">
                <div>
                    <label for="file-upload" class="action-button btn-common">Escolher arquivo</label>
                    <input id="file-upload" type="file" name="file" required>
                    <span id="file-chosen">Nenhum arquivo escolhido</span>
                </div>
                <div>
                    <button type="submit" class="action-button btn-common">Upload</button>
                </div>
            </div>
        </form>
        <div id="upload-status"></div>
    </div>
</div>
<!-- Formulário Popup para adicionar pessoa -->
<div id="add-person-popup" class="popup">
    <div class="popup-content">
        <span class="close" id="close-popup">&times;</span>
        <h2>Adicionar Pessoa</h2>
        <form id="add-person-form">
            {% csrf_token %}
            <table class="table">
                <tr>
                    <th>Condição</th>
                    <td>
                        <select name="condicao" class="form-select">
                            <option value="Agente">Agente</option>
                            <option value="Vítima">Vítima</option>
                            <option value="Testemunha">Testemunha</option>
                        </select>
                    </td>
                    <th>Alcunha</th>
                    <td><input type="text" name="alcunha" class="input-field"></td>
                </tr>
                <tr>
                    <th>Nome</th>
                    <td colspan="3"><input type="text" name="nome" class="input-field" required></td>
                </tr>
                <tr>
                    <th>Pai</th>
                    <td><input type="text" name="nome_pai" class="input-field"></td>
                    <th>Mãe</th>
                    <td><input type="text" name="nome_mae" class="input-field"></td>
                </tr>
                <tr>
                    <th>Nascimento</th>
                    <td><input type="date" name="data_nascimento" class="input-field date-input" value="{{ data_nascimento }}"></td>
                    <th>Sexo</th>
                    <td>
                        <select name="sexo" class="form-select">
                            <option value="Masculino">Masculino</option>
                            <option value="Feminino">Feminino</option>
                            <option value="Outro">Outro</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>CPF</th>
                    <td><input type="text" name="cpf" class="input-field"></td>
                    <th>Cor Pele</th>
                    <td><input type="text" name="cor_pele" class="input-field"></td>
                </tr>
                <tr>
                    <th>Estado Civil</th>
                    <td><input type="text" name="estado_civil" class="input-field"></td>
                    <th>Instrução</th>
                    <td>
                        <select name="grau_instrucao" class="form-select">
                            <option value="Ensino fundamental incompleto">Ensino fundamental incompleto</option>
                            <option value="Ensino fundamental">Ensino fundamental</option>
                            <option value="Ensino médio incompleto">Ensino médio incompleto</option>
                            <option value="Ensino médio">Ensino médio</option>
                            <option value="Ensino superior incompleto">Ensino superior incompleto</option>
                            <option value="Ensino superior">Ensino superior</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Naturalidade</th>
                    <td>
                        <input type="text" name="naturalidade" class="input-field naturalidade-input"> /
                        <input type="text" name="naturalidade_uf" class="input-field uf-input">
                    </td>
                    <th>Nacionalidade</th>
                    <td><input type="text" name="nacionalidade" class="input-field"></td>
                </tr>
                <tr>
                    <th>Tipo Doc.</th>
                    <td><input type="text" name="documento" class="input-field"></td>
                    <th>Nº Doc.</th>
                    <td><input type="text" name="numero_documento" class="input-field"></td>
                </tr>
                <tr>
                    <th>Endereço</th>
                    <td colspan="3"><input type="text" name="endereco" class="input-field"></td>
                </tr>
                <tr>
                    <th>End. Prof.</th>
                    <td colspan="3"><input type="text" name="end_profissional" class="input-field"></td>
                </tr>
                <tr>
                    <th>Profissão</th>
                    <td><input type="text" name="profissao" class="input-field"></td>
                    <th>Representa</th>
                    <td><input type="checkbox" name="representa" class="checkbox-field"></td>
                </tr>
            </table>
            <button type="submit" class="btn-common">Adicionar Pessoa</button>
            <button type="button" class="btn-common" id="clear-fields">Limpar Campos</button>
        </form>
    </div>
</div>

<div id="qualify-response" class="qualify-response"></div>

<div id="confirmation-modal" class="modal">
    <div class="modal-content">
        <span class="close" id="close-confirmation">&times;</span>
        <p>Tem certeza de que deseja remover esta pessoa?</p>
        <button id="confirm-remove" class="btn-common">Confirmar</button>
        <button id="cancel-remove" class="btn-common">Cancelar</button>
    </div>
</div>

<script>
    function updateQualification(form) {
        const formData = new FormData(form);
        const data = Object.fromEntries(formData.entries());
    
        fetch(form.action, {
            method: 'POST',
            headers: {
                'X-CSRFToken': form.querySelector('[name="csrfmiddlewaretoken"]').value,
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            const qualElem = form.closest('.person-card').querySelector('.qualificacao');
            if (qualElem) {
                qualElem.innerHTML = data.qualificacao;
            } else {
                console.error('Elemento de qualificação não encontrado');
            }
        })
        .catch(error => console.error('Erro:', error));
    }
    // Adicionar evento de mudança para cada campo de input ou select dentro do formulário
    document.querySelectorAll('.person-card form').forEach(form => {
        form.querySelectorAll('input, select').forEach(input => {
            input.addEventListener('change', () => updateQualification(form));
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
        let personToRemove = null;

        // Função para atualizar os dados na sessão
        function updateSession(personId, data) {
            fetch(`/extrator/alterar-pessoa/${personId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': document.querySelector(`[name="csrfmiddlewaretoken"]`).value,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(updatedPerson => {
                console.log('Dados da pessoa atualizados na sessão:', updatedPerson);
            })
            .catch(error => {
                console.error('Erro ao atualizar dados da sessão:', error);
            });
        }

        function getFormData(form) {
            const formData = new FormData(form);
            return Object.fromEntries(formData.entries());
        }

        // Atualiza a qualificação da pessoa com base nos dados atuais
        document.addEventListener('DOMContentLoaded', function() {
            console.log('updateQualification in success.html called');
            const updateQualification = (form) => {
                const formData = new FormData(form);
                const data = Object.fromEntries(formData.entries());
        
                fetch(form.action, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': form.querySelector('[name="csrfmiddlewaretoken"]').value,
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data.qualificacao);
                    const qualElem = form.closest('.person-card').querySelector('.qualificacao');
                    if (qualElem) {
                        qualElem.innerHTML = data.qualificacao;
                    } else {
                        console.error('Elemento de qualificação não encontrado');
                    }
                })
                .catch(error => console.error('Error:', error));
            };
        
            document.querySelectorAll('.person-card form').forEach(form => {
                form.querySelectorAll('input, select').forEach(input => {
                    input.addEventListener('change', () => updateQualification(form));
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.person-card').forEach(function(card) {
                attachChangeEvents(card);
            });
        });

        function attachChangeEvents(container) {
            container.addEventListener('change', function(event) {
                const target = event.target;
                if (target.tagName.toLowerCase() === 'input' || target.tagName.toLowerCase() === 'select') {
                    const form = target.closest('form');
                    if (form) {
                        const personId = form.querySelector('input[name="id"]').value;
                        updateQualification(form); // Atualiza a qualificação
                        updateSession(personId, getFormData(form)); // Atualiza os dados na sessão
                    }
                }
            });
        }

        // Função para pesquisar dados por CPF
        document.querySelectorAll('input[name="cpf"]').forEach(function(input) {
            input.addEventListener('change', function(event) {
                const cpf = event.target.value;
                const form = event.target.closest('form');

                // Se o CPF estiver preenchido, mas os outros campos estiverem vazios
                if (cpf && !form.querySelector('input[name="nome"]').value) {
                    fetch(`/extrator/buscar-dados-cpf/`, {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': document.querySelector('[name="csrfmiddlewaretoken"]').value,
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ cpf: cpf })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            if (data.mensagem_obito) {
                                alert(data.mensagem_obito);
                            }
                            const pessoa = data.pessoa;
                            form.querySelector('input[name="nome"]').value = pessoa.nomeContribuinte_s || '';
                            form.querySelector('input[name="nome_mae"]').value = pessoa.nomeMae_s || '';

                            const endereco = [
                                pessoa.logradouro_s,
                                'nº ' + pessoa.nroLogradouro_s,
                                pessoa.complemento_s,
                                "bairro " + pessoa.bairro_s,
                                pessoa.nomeMunDomic_s + '/' + pessoa.ufMunDomic_s,
                                "CEP " + pessoa.cep_s,
                                "telefone " + pessoa.telefone_s
                            ].filter(Boolean).join(', ');

                            form.querySelector('input[name="endereco"]').value = endereco || '';
                            form.querySelector('input[name="naturalidade_uf"]').value = pessoa.ufMunNat_s || '';
                            form.querySelector('input[name="naturalidade"]').value = pessoa.nomeMunNat_s || '';

                            // Após preencher os dados, atualiza a qualificação
                            const personId = form.closest('.person-card').getAttribute('id').split('-')[1];
                            updateQualification(personId);
                        } else {
                            console.error('Erro ao buscar dados:', data.error);
                        }
                    })
                    .catch(error => console.error('Erro ao buscar dados:', error));
                }
            });
        });

        // Função para pesquisar CEP e atualizar a qualificação
        function pesquisarCEP(personId) {
            const form = document.querySelector(`#person-${personId} form`);
            const enderecoField = form.querySelector('input[name="endereco"]');
            const enderecoProfissionalField = form.querySelector('input[name="end_profissional"]');
            const endereco = enderecoField.value;
        
            fetch('/extrator/extract_address_info/', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': document.querySelector(`[name="csrfmiddlewaretoken"]`).value,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ text: endereco })
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(data.error);
                } else {
                    enderecoField.value = data.endereco;
        
                    // Se existir um endereço comercial a ser pesquisado, faça a pesquisa
                    if (enderecoProfissionalField && enderecoProfissionalField.value) {
                        fetch('/extrator/extract_address_info/', {
                            method: 'POST',
                            headers: {
                                'X-CSRFToken': document.querySelector(`[name="csrfmiddlewaretoken"]`).value,
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ text: enderecoProfissionalField.value })
                        })
                        .then(response => response.json())
                        .then(dataProfissional => {
                            if (dataProfissional.error) {
                                alert(dataProfissional.error);
                            } else {
                                enderecoProfissionalField.value = dataProfissional.endereco;
        
                                // Atualiza a sessão e a qualificação após os dois endereços serem atualizados
                                const updatedData = {
                                    endereco: data.endereco,
                                    end_profissional: dataProfissional.endereco,
                                    numero_documento: form.querySelector('input[name="numero_documento"]').value,
                                    cpf: form.querySelector('input[name="cpf"]').value,
                                    nome: form.querySelector('input[name="nome"]').value,
                                };
        
                                updateSession(personId, updatedData);
                                updateQualification(form);
                            }
                        })
                        .catch(error => console.error('Erro ao pesquisar CEP do endereço profissional:', error));
                    } else {
                        // Se não houver endereço profissional, apenas atualiza o endereço principal
                        const updatedData = {
                            endereco: data.endereco,
                            numero_documento: form.querySelector('input[name="numero_documento"]').value,
                            cpf: form.querySelector('input[name="cpf"]').value,
                            nome: form.querySelector('input[name="nome"]').value,
                        };
        
                        updateSession(personId, updatedData);
                        updateQualification(form);
                    }
                }
            })
            .catch(error => console.error('Erro ao pesquisar CEP:', error));
        }
        
        

        // Eventos para os botões de remover pessoa e pesquisar CEP
        document.querySelectorAll('.remove-person-button').forEach(function(button) {
            button.addEventListener('click', function() {
                personToRemove = button.getAttribute('data-person-id');
                document.getElementById('confirmation-modal').style.display = 'block';
            });
        });

        document.querySelectorAll('.search-cep-button').forEach(function(button) {
            button.addEventListener('click', function() {
                const personId = button.getAttribute('data-person-id');
                pesquisarCEP(personId);
            });
        });

        document.getElementById('confirm-remove').addEventListener('click', function() {
            fetch(`/extrator/remove-person/${personToRemove}/`, {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': document.querySelector('[name="csrfmiddlewaretoken"]').value
                }
            })
            .then(response => {
                if (response.ok) {
                    document.getElementById(`person-${personToRemove}`).remove();
                    document.getElementById('confirmation-modal').style.display = 'none';
                } else {
                    alert('Erro ao remover pessoa.');
                }
            })
            .catch(error => console.error('Erro ao remover pessoa:', error));
        });

        document.getElementById('cancel-remove').addEventListener('click', function() {
            document.getElementById('confirmation-modal').style.display = 'none';
            personToRemove = null;
        });

        document.getElementById('close-confirmation').addEventListener('click', function() {
            document.getElementById('confirmation-modal').style.display = 'none';
            personToRemove = null;
        });

        document.getElementById('add-person').addEventListener('click', function() {
            document.getElementById('add-person-popup').style.display = 'block';
        });

        document.getElementById('close-popup').addEventListener('click', function() {
            document.getElementById('add-person-popup').style.display = 'none';
        });

        document.getElementById('clear-fields').addEventListener('click', function() {
            document.getElementById('add-person-form').reset();
        });

        document.getElementById('add-person-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(event.target);
            const data = Object.fromEntries(formData.entries());
        
            fetch('{% url "add_person" %}', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': document.querySelector('[name="csrfmiddlewaretoken"]').value,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(person => {
                if (!person.id) {
                    console.error('ID não foi retornado pelo backend.');
                    return;
                }
                const container = document.getElementById('pessoa-container');
                const newPersonHtml = `
                <div class="person-card" id="person-${person.id}">
                    <form method="post" action="/extrator/alterar-pessoa/${person.id}/">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="${person.id}">
                        <table class="table">
                            <tr>
                                <th>Condição</th>
                                <td>
                                    <select name="condicao" class="form-select" data-person-id="${person.id}">
                                        <option value="Agente" ${person.condicao == 'Agente' ? 'selected' : ''}>Agente</option>
                                        <option value="Vítima" ${person.condicao == 'Vítima' ? 'selected' : ''}>Vítima</option>
                                        <option value="Testemunha" ${person.condicao == 'Testemunha' ? 'selected' : ''}>Testemunha</option>
                                    </select>
                                </td>
                                <th>Alcunha</th>
                                <td><input type="text" name="alcunha" class="input-field" value="${person.alcunha}" data-person-id="${person.id}"></td>
                            </tr>
                            <tr>
                                <th>Nome</th>
                                <td colspan="3"><input type="text" name="nome" class="input-field" value="${person.nome}" data-person-id="${person.id}"></td>
                            </tr>
                            <tr>
                                <th>Pai</th>
                                <td><input type="text" name="nome_pai" class="input-field" value="${person.nome_pai}" data-person-id="${person.id}"></td>
                                <th>Mãe</th>
                                <td><input type="text" name="nome_mae" class="input-field" value="${person.nome_mae}" data-person-id="${person.id}"></td>
                            </tr>
                            <tr>
                                <th>Nascimento</th>
                                <td><input type="date" name="data_nascimento" class="input-field date-input" value="${person.data_nascimento || ''}" data-person-id="${person.id}"></td>
                                <th>Sexo</th>
                                <td>
                                    <select name="sexo" class="form-select" data-person-id="${person.id}">
                                        <option value="Masculino" ${person.sexo == 'Masculino' ? 'selected' : ''}>Masculino</option>
                                        <option value="Feminino" ${person.sexo == 'Feminino' ? 'selected' : ''}>Feminino</option>
                                        <option value="Outro" ${person.sexo == 'Outro' ? 'selected' : ''}>Outro</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>CPF</th>
                                <td><input type="text" name="cpf" class="input-field" value="${person.cpf || ''}" data-person-id="${person.id}"></td>
                                <th>Cor Pele</th>
                                <td><input type="text" name="cor_pele" class="input-field" value="${person.cor_pele || ''}" data-person-id="${person.id}"></td>
                            </tr>
                            <tr>
                                <th>Estado Civil</th>
                                <td><input type="text" name="estado_civil" class="input-field" value="${person.estado_civil || ''}" data-person-id="${person.id}"></td>
                                <th>Instrução</th>
                                <td>
                                    <select name="grau_instrucao" class="form-select" data-person-id="${person.id}">
                                        <option value="Ensino fundamental incompleto" ${person.grau_instrucao == 'Ensino fundamental incompleto' ? 'selected' : ''}>Ensino fundamental incompleto</option>
                                        <option value="Ensino fundamental" ${person.grau_instrucao == 'Ensino fundamental' ? 'selected' : ''}>Ensino fundamental</option>
                                        <option value="Ensino médio incompleto" ${person.grau_instrucao == 'Ensino médio incompleto' ? 'selected' : ''}>Ensino médio incompleto</option>
                                        <option value="Ensino médio" ${person.grau_instrucao == 'Ensino médio' ? 'selected' : ''}>Ensino médio</option>
                                        <option value="Ensino superior incompleto" ${person.grau_instrucao == 'Ensino superior incompleto' ? 'selected' : ''}>Ensino superior incompleto</option>
                                        <option value="Ensino superior" ${person.grau_instrucao == 'Ensino superior' ? 'selected' : ''}>Ensino superior</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>Naturalidade</th>
                                <td>
                                    <input type="text" name="naturalidade" class="input-field naturalidade-input" value="${person.naturalidade || ''}" data-person-id="${person.id}"> /
                                    <input type="text" name="naturalidade_UF" class="input-field uf-input" value="${person.naturalidade_UF || ''}" data-person-id="${person.id}">
                                </td>
                                <th>Nacionalidade</th>
                                <td><input type="text" name="nacionalidade" class="input-field" value="${person.nacionalidade || ''}" data-person-id="${person.id}"></td>
                            </tr>
                            <tr>
                                <th>Tipo Doc.</th>
                                <td><input type="text" name="documento" class="input-field" value="${person.documento || ''}" data-person-id="${person.id}"></td>
                                <th>Nº Doc.</th>
                                <td><input type="text" name="numero_documento" class="input-field" value="${person.numero_documento || ''}" data-person-id="${person.id}"></td>
                            </tr>
                            <tr>
                                <th>Endereço</th>
                                <td colspan="3"><input type="text" name="endereco" class="input-field" value="${person.endereco || ''}" data-person-id="${person.id}"></td>
                            </tr>
                            <tr>
                                <th>End. Prof.</th>
                                <td colspan="3"><input type="text" name="end_profissional" class="input-field" value="${person.end_profissional || ''}" data-person-id="${person.id}"></td>
                            </tr>
                            <tr>
                                <th>Profissão</th>
                                <td><input type="text" name="profissao" class="input-field" value="${person.profissao || ''}" data-person-id="${person.id}"></td>
                                <th>Representa</th>
                                <td><input type="checkbox" name="representa" class="checkbox-field" ${person.representa ? 'checked' : ''} data-person-id="${person.id}"></td>
                            </tr>
                        </table>
                    </form>
                    <div class="qualificacao" id="qualificacao-${person.id}">
                        ${person.qualificacao || ''}
                    </div>
                    <button class="btn-common remove-person-button" data-person-id="${person.id}">Remover Pessoa</button>
                    <button class="btn-common search-cep-button" data-person-id="${person.id}">Pesquisar CEP</button>
                </div>`;

                container.insertAdjacentHTML('beforeend', newPersonHtml);
                
                // Reassociar eventos ao novo elemento adicionado
                const newPersonCard = document.getElementById(`person-${person.id}`);
                attachChangeEvents(newPersonCard);
                
                // Fechar o popup e limpar o formulário
                document.getElementById('add-person-popup').style.display = 'none';  // Fechar o popup
                document.getElementById('add-person-form').reset();  // Limpar o formulário
            })
            .catch(error => console.error('Erro ao adicionar pessoa:', error));
        });

        document.getElementById('file-upload').addEventListener('change', function() {
            const fileName = this.files[0].name;
            document.getElementById('file-chosen').textContent = fileName;
        });

        document.getElementById('upload-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const form = document.getElementById('upload-form');
            const formData = new FormData(form);
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            fetch(form.action, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken
                },
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.href = data.redirect_url;
                }
            })
            .catch(error => {
                console.error('Erro no upload:', error);
                document.getElementById('upload-status').innerHTML = `<p>Erro no upload: ${error}</p>`;
            });
        });

        document.getElementById('upload-file-button').addEventListener('click', function() {
            document.getElementById('upload-popup').style.display = 'block';
        });

        document.getElementById('close-upload-popup').addEventListener('click', function() {
            document.getElementById('upload-popup').style.display = 'none';
        });
    });
</script>
{% endblock %}